<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Artykuły</title>
    <script>
        var isUserAuthenticated = '{{ user.is_authenticated }}'

        if (isUserAuthenticated === "True") {

            function showLogoutPopup(message) {
                alert(message);
                window.location.href = "/api/articles/";
            }

            function trackSessionExpiry(sessionExpiryTime) {
                var currentTime = new Date().getTime();
                var timeLeft = sessionExpiryTime - currentTime;

                if (timeLeft <= 0) {
                    if (isUserAuthenticated) {
                        showLogoutPopup("Sesja wygasła. Zostałeś wylogowany.");
                    }
                } else {
                    setTimeout(function () {
                        trackSessionExpiry(sessionExpiryTime);
                    }, 1000);
                }
            }

            var sessionStartTime = new Date().getTime();
            var sessionDuration = 10000;
            var sessionExpiryTime = sessionStartTime + sessionDuration;

            trackSessionExpiry(sessionExpiryTime);
        };
    </script>
</head>

<body>
    <h1>Artykuły</h1>

    {% if user.is_authenticated %}
    <h2>Witaj! Jesteś zalogowany. Oto pełna lista artykułów:</h2>
    {% else %}
    <h2>Publiczne artykuły (zaloguj się, aby zobaczyć więcej):</h2>
    {% endif %}

    <ul>
        {% for article in articles %}
        {% if user.is_authenticated %}
        <li>{{ article.title }} - Rok: {{ article.year }}</li>
        {% else %}
        <li>{{ article.title }}</li>
        {% endif %}
        {% endfor %}
    </ul>

    {% if not user.is_authenticated %}
    <p><a href="{% url 'login' %}">Zaloguj się</a> aby zobaczyć więcej szczegółów!</p>
    {% else %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Wyloguj się</button>
    </form>
    {% endif %}
</body>

</html>